:root {
    --unchecked : grey;
    --checked : rgb(94, 94, 94);
    --border: rgb(187, 187, 187);

}

.tiles {
    display:grid;
    grid-template-columns: repeat(var(--sizeX), 25px);
    grid-template-rows: repeat(var(--sizeY), 25px);
}

.tiles a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--unchecked);
    border: 2px outset var(--border);
}